<div>
  <h1 class="font-bold text-4xl">Leaderboard#index</h1>
  <br/>
  <div class="overflow-x-auto w-full">
    <table class="table w-full table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th class="mr-3">#</th>
          <td class="mr-3">Name</td>
          <td>Score</td>
        </tr>
      </thead>
      <tbody>
        <!-- row -->
        <% @leaderboard.each.with_index(1) do |entry, placement| %>
          <% user, score = entry %>
          <tr>
            <th class="mr-3"><%= placement %></th>
            <td class="mr-3"><b><%= user.full_name %></b></td>
            <td><span class="badge badge-ghost badge-sm"><%= score %></span></td>
          </tr>
        <% end %>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>#</th>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
