<div class="container">
  <h1 class="font-bold text-4xl">Challenges#index</h1>
  <br/>
  <div class="flex justify-between w-full">
    <div>
      <br/>
      <%= turbo_frame_tag "invitations" do %>
        <%= render @invitations, user: current_user %>
      <% end %>
    </div>
    <div class="flex-1">
      <p class="font-bold text-4xl">👋 Welcome <%= current_user.display_name %>!</p>
      <br/>
      <p>
        Thank you for signing up to the Hello World challenge 🎉
        <br/>
        <br/>
        On this page you'll find a tree view of the challenges you've got access to. Click the leaf nodes in order to be taken directly to the exercise or you can click the root node to see its challenge's details and levels
        <br/>
        <br/>
        You can now start working on your first challenge. Completing all exercises is not mandatory but completing all will put you up on the leaderboard!
        <br/>
        <br/>
        If you have any questions please see the <a class="link">FAQ</a> or contact us at <a href="mailto:hello@world.com" class="link">hello@world.com</a>.
        <br/>
        <br/>
        Good luck!
      </p>
    </div>
  </div>
</div>
