<%= turbo_frame_tag result do %>
  <% color = case result.state.upcase %>
    <% when "PASSED" %>
      <% "green" %>
    <% when "FAILED" %>
      <% "red" %>
    <% else %>
      <% "inherit" %>
  <% end %>
  <div style="<%= "color: #{color}" %>">assessment [<%= result.state.upcase %>]<br/></div>
<% end %>
