<div class="w-8/12 pr-10">
  <h1 class="font-bold text-2xl"><%= @challenge.title %></h1>
  <br/>
  <div class="flex w-full">
    <div>
      <p><%= @challenge.description %></p>
    </div>
  </div>
</div>
<div>
  <h1 class="font-bold text-2xl">Levels</h1>
  <br/>
  <% @challenge.levels.each do |level| %>
    <%= render level %>
  <% end %>
</div>
