<footer class="footer items-center p-4 bg-primary text-neutral-content container mx-auto px-5 flex">
  <div class="items-center grid-flow-col">
    <p>Footer</p>
  </div>
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="" class="link">@linked_in</a>
    <a href="" class="link">@twitter</a>
    <a href="" class="link">@home_page</a>
  </div>
</footer>
