<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "Hello World 🌍", root_path, class: "btn btn-ghost normal-case text-xl"%>
  </div>
  <div class="flex-none gap-2">
    <% if current_user %>
      <%= link_to "+ Enter new code", get_started_path(:enter_invitation_code), class: "btn btn-sm btn-secondary" %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost">
          🧑‍💻 <%= current_user.full_name %>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>FAQ</a></li>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete  %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<hr/>
